<template>
    <div>
        <chart :options="chartOptions" />
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'HeatMap',
    data() {
        return {
            chartOptions: {
                chart: {
                    type: 'heatmap'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'datetime',
                    min: Date.UTC(2022, 0, 1),
                    max: Date.UTC(2022, 11, 31, 23, 59, 59),
                    // labels: {
                    //     align: 'left',
                    //     x: 5,
                    //     y: 14,
                    //     format: '{value:%B}' // long month
                    // },
                    showLastLabel: false,
                    tickLength: 16
                },

                yAxis: {
                    title: {
                        text: null
                    },
                    // labels: {
                    //     format: '{value}:00'
                    // },
                    minPadding: 0,
                    maxPadding: 0,
                    startOnTick: false,
                    endOnTick: true,
                    tickPositions: [0, 6, 12, 18, 24],
                    tickWidth: 1,
                    min: 0,
                    max: 23
                },
                colorAxis: {
                    stops: [
                        [0, '#3060cf'],
                        [0.5, '#fffbbc'],
                        [0.9, '#c4463a'],
                        [1, '#c4463a']
                    ],
                    min: -15,
                    max: 25,
                    startOnTick: false,
                    endOnTick: false,
                    labels: {
                        format: '{value}℃'
                    }
                },
                series: [{
                    boostThreshold: 100,
                    borderWidth: 0,
                    nullColor: '#EFEFEF',
                    colsize: 24 * 36e5, // one day
                    tooltip: {
                        headerFormat: 'Temperature<br/>',
                        pointFormat: '{point.x:%e %b, %Y} {point.y}:00: <b>{point.value} ℃</b>'
                    },
                    turboThreshold: Number.MAX_VALUE, // #3404, remove after 4.0.5 release
                    data: []
                }],
                credits: {
                    enabled: false
                }
            }
        };
    },
    mounted() {
        const self = this;
        const headers = {
            'X-Parse-Application-Id': '',
            'X-Parse-REST-API-Key': ''
        };
        const url = 'https://parseapi.back4app.com/classes/ANT_TEMP';

        axios({
            method: 'get',
            url,
            headers
        }).then(response => {
            self.chartOptions.series[0].data = response.data.results.map(item => {
                return {
                    x: new Date(Date.parse(item.Date.iso)).setHours(0, 0, 0, 0),
                    y: item.Temperature,
                    value: item.Insects
                };
            });
        })
            .catch(error => {
                console.log(error);
            });
    }
};
</script>

<style lang="scss">
</style>
