<template>
    <div>
        <chart :options="chartOptions" />
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'PolarChart',
    data() {
        return {
            chartOptions: {
                chart: {
                    polar: true
                },

                title: {
                    text: ''
                },

                // pane: {
                //     startAngle: 0,
                //     endAngle: 360
                // },

                xAxis: {
                    tickInterval: 60,
                    min: 0,
                    max: 360,
                    labels: {
                        formatter() {
                            let label;
                            console.log(this.value);
                            switch (this.value) {
                                case 0:
                                    label = 'Разница температур ночь/день';
                                    break;
                                case 60:
                                    label = 'Макс. сила ветра';
                                    break;
                                case 120:
                                    label = 'Влажность';
                                    break;
                                case 180:
                                    label = 'Солнечная активность';
                                    break;
                                case 240:
                                    label = 'Концентрация CO2';
                                    break;
                                case 300:
                                    label = 'Вибрация почвы';
                                    break;
                            }
                            return label;
                        }
                    }
                },

                yAxis: {
                    min: 0
                },

                plotOptions: {
                    series: {
                        pointStart: 0,
                        pointInterval: 45
                    },
                    column: {
                        pointPadding: 0,
                        groupPadding: 0
                    }
                },

                series: []
            }
        };
    },
    mounted() {
        const self = this;
        const headers = {
            'X-Parse-Application-Id': '',
            'X-Parse-REST-API-Key': ''
        };
        const url = 'https://parseapi.back4app.com/classes/RUINS';

        axios({
            method: 'get',
            url,
            headers
        }).then(response => {
            self.chartOptions.series = response.data.results.map(element => {
                return {
                    type: 'area',
                    data: [element.Tdiff, element.Force, element.Hum, element.Sun, element.CO2, element.Vibr]
                };
            });
            console.log(self.chartOptions.series);
        })
            .catch(error => {
                console.log(error);
            });
    }
};
</script>

<style lang="scss">
</style>
