<template>
    <div class="maps-page">
        <Header />
        <div v-if="lang === 'ru'" class="about-page">
            <div class="about-page__left">
                <div class="about-page__left--title">
                    Концепт
                </div>
                <div class="about-page__left--text">
                    <a href="http://fb.com/nickita.sazonov" target="_blank">Никита Сазонов</a>
                    <a href="http://facebook.com/katya.althea" target="_blank">Екатерина Никитина</a>
                    <a href="https://www.facebook.com/ippolit.markelov" target="_blank">Ипполит Маркелов</a>
                    <a href="https://www.facebook.com/mamolokova" target="_blank">Маша Молокова</a>
                    <a href="https://www.facebook.com/bettercallvik" target="_blank">Вита Шахнович</a>
                    <a href="https://www.facebook.com/dmitrii.olgin" target="_blank">Дмитрий Ольгин</a>
                </div>
                <div class="about-page__left--title">
                    Дизайн
                </div>
                <div class="about-page__left--text">
                    <a href="http://sofakar.cargo.site/" target="_blank">Софья Караваева</a>
                </div>
                <div class="about-page__left--title">
                    Разработка сайта
                </div>
                <div class="about-page__left--text">
                    <a href="https://upmaps.ru/" target="_blank">UpMaps</a>
                    <a href="https://gitlab.com/AlexandraYashina" target="_blank">Александра Яшина</a>
                </div>
                <div class="about-page__left--title">
                    Проект реализован при поддержке программы Музея «Гараж»
                </div>
                <a href="https://garage.digital/" target="_blank"><img :src="setImage('common/garage.png')" alt="" style=" width: 100%;"></a>
            </div>
            <perfect-scrollbar class="scroll-area">
                <div class="about-page__right">
                    <div class="about-page__right--title">
                        О проекте
                    </div>
                    <div class="about-page__right--text">
                        <p>RUSSIAN FERATIONS исследует постсоветские экологии и космологии, совмещая теоретические, естественно-научные и художественные модели исследования. Обращаясь не к советскому прошлому, а к постсоветскому настоящему, мы открываем экономику и политику руин, творящуюся на окраинах прогресса.</p>
                        <p>Большинство теоретических и художественных исследований рассматривают советское и постсоветское в контексте поколенческой памяти и опыта травм. Наш проект переоткрывает постсоветское как актуальную экологическую ситуацию, участники которой не погребены под обломками прошлого. Сосредоточенные на самой поверхности настоящего, они представляют насущную проблему и реальную опасность, которую невозможно оставить без ответа. Они провоцируют нас на новые формы мысли, существования и со-существования.</p>
                        <p>Постсоветское понимается нами как то, что имеет феральный статус (от англ. feral – одичавший). Все объекты его территорий – это порождения советской гуманистической политики, в конечном счете вышедшие из-под ее контроля. Странные гибриды мичуринской агробиологии, советского машиностроения и космонавтики, вырвавшись из лабораторий и цехов, пришли в одичание и образовали собственные политические альянсы, с которыми борется человеческая государственность.</p>
                    </div>
                    <div class="about-page__right--title">Фе<span style="text-decoration: line-through;">де</span>рация</div>
                    <div class="about-page__right--text">
                        <p>Мы предлагаем не сражаться с феральными объектами, а изучать их. В своих исследованиях мы обращаемся к ферации – сети со-существующих друг с другом щупалец, проводов, усиков, корней, микробиомов, частью и продолжением которых являемся мы сами. Ферация – это политика, которая приходит на смену человеческим государствам в качестве федерации постчеловеческих существ.</p>
                        <p>Ферация – то, что производит нашу реальность, вместе с тем указывая на границы человеческого существования и определяя его условия. Это одновременно и экология, и космология: география со-существования объектов друг с другом и геология не-человеческих реальностей.</p>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
        <div v-else class="about-page">
            <div class="about-page__left">
                <div class="about-page__left--title">
                    Concept
                </div>
                <div class="about-page__left--text">
                    <a href="http://fb.com/nickita.sazonov" target="_blank">Nikita Sazonov</a>
                    <a href="http://facebook.com/katya.althea" target="_blank">Ekaterina Nikitina</a>
                    <a href="https://www.facebook.com/ippolit.markelov" target="_blank">Ippolit Markelov</a>
                    <a href="https://www.facebook.com/mamolokova" target="_blank">Masha Molokova</a>
                    <a href="https://www.facebook.com/bettercallvik" target="_blank">Vita Shakhnovich</a>
                    <a href="https://www.facebook.com/dmitrii.olgin" target="_blank">Dmitrii Olgin</a>
                </div>
                <div class="about-page__left--title">
                    Design
                </div>
                <div class="about-page__left--text">
                    <a href="http://sofakar.cargo.site/" target="_blank">Sofia Karavaeva</a>
                </div>
                <div class="about-page__left--title">
                    Website development
                </div>
                <div class="about-page__left--text">
                    <a href="https://upmaps.ru/" target="_blank">UpMaps</a>
                    <a href="https://gitlab.com/AlexandraYashina" target="_blank">Alexandra Yashina</a>
                </div>
                <div class="about-page__left--title">
                    Project supported by Garage Digital program at Garage Museum of Contemporary Art
                </div>
                <a href="https://garage.digital/en/" target="_blank"><img :src="setImage('common/garage.png')" alt="" style=" width: 100%;"></a>
            </div>
            <perfect-scrollbar class="scroll-area">
                <div class="about-page__right">
                    <div class="about-page__right--title">
                        About the Project
                    </div>
                    <div class="about-page__right--text">
                        <p>RUSSIAN FERATIONS project investigates post-soviet ecologies and cosmologies through hybridisation of theoretical, scientific and artistic research models. By approaching the post-soviet present rather than the soviet past, we are opening abandoned economies and politics which are  being created on the edges of progress.</p>
                        <p>The vast majority of theoretical and artistic projects consider the soviet and the post-soviet in the context of generational memory and traumatic experience. Our project reopens the post-soviet as the current ecological condition, whose participants are not buried under the ruins of the past.  Concentrated at the very surface of the present, they cannot — even while being invisible under the ruins of the good old human world — be left un-responded. They provoke us to new forms of thinking, existence and co-existence.</p>
                        <p>We treat the post-soviet as something that has feral status. All the objects of its territories are sporadic derivatives of an industrial nature-technology synthesis that have drifted, in the end, out of human control. Invasive hybrids of Lysenko's agrobiology, soviet mechanical engineering and cosmonautics returned to the wild and formed their own political alliances which human statehood is engaged in a struggle against.</p>
                    </div>
                    <div class="about-page__right--title">FE<span style="text-decoration: line-through;">DE</span>RATION</div>
                    <div class="about-page__right--text">
                        <p>We suggest to investigate feral ecologies rather than struggle against them. In our research we address “ferations” (from ‘feral’) which can be understood as a complex of self-organized ecosystems within abandoned industrial spaces across the former Soviet Union. Ferations are politics that — by replacing human states—create federations of posthumous creatures.</p>
                        <p>Feration is something that produces our reality while also indicating the boundaries of human existence and setting conditions for it. Feration is both an ecology and a cosmology—a geography of co-existence of feral objects, as well as a geology of multi-layered inhuman realities.</p>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</template>

<script>
import { common } from '@js/mixins';
export default {
    mixins: [common]
};
</script>

<style lang="scss">
.about-page {
    display: flex;
    height: 100%;
    background: #C4C4C4;

    &__left {
        width: 343px;
        padding: 45px 50px 0 27px;
        font-family: 'Pragmatica Extended', sans-serif;
        border-right: 4px solid black;

        &--title {
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
        }

        &--text {
            font-size: 16px;
            line-height: 22px;

            a {
                position: relative;
                display: table;
                color: black;

                &::after {
                    position: absolute;
                    top: -2px;
                    right: -20px;
                    width: 25px;
                    height: 25px;
                    background: url(~@images/gallery/gallery-arrow.svg) 50% 50% no-repeat;
                    content: '';
                }

                &:hover {
                    color: #0075FF;

                    &::after {
                        background: url(~@images/gallery/gallery-arrow-hover.svg) 50% 50% no-repeat;
                    }
                }
            }
        }
    }

    &__right {
        width: calc(100% - 347px);
        padding: 50px 80px;
        font-family: 'Pragmatica Extended', sans-serif;

        &--title {
            font-size: 60px;
            line-height: 84px;
        }

        &--text {
            font-size: 16px;
            line-height: 22px;
        }
    }
}
</style>
