<template>
    <transition name="fade">
        <div class="carousel__wrapper">
            <div class="carousel">
                <div class="carousel-image__wrapper">
                    <transition :name="animationType()">
                        <div :key="currentPhoto.id" class="carousel-image">
                            <img :key="currentPhoto.id" :src="setPhoto(currentPhoto.mediaurl)" alt="">
                        </div>
                    </transition>
                </div>
                <div class="carousel__subtitle" v-html="setLangText(currentPhoto.descr)" />
                <div class="carousel__close" @click="closeCarousel" />
                <div class="carousel__left" @click="goLeft" />
                <div class="carousel__right" @click="goRight" />
            </div>
        </div>
    </transition>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    props: {
        currentPhotoId: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            animation: 'fade-to-right',
            currentPhoto: {}
        };
    },
    computed: {
        ...mapGetters('map', ['photos'])
    },
    created() {
        this.currentPhoto = this.photos.find(item => item.id === this.currentPhotoId);
    },
    methods: {
        setPhoto(url) {
            return `http://ferations.world/${url}`;
        },
        animationType() {
            return this.animation;
        },
        goLeft() {
            this.animation = 'fade-to-left';
            const images = this.photos;
            const imageIndex = images.findIndex(item => item.id === this.currentPhoto.id);
            if (imageIndex > 0) {
                this.currentPhoto = images[imageIndex - 1];
            } else {
                this.currentPhoto = images[images.length - 1];
            }
        },
        goRight() {
            this.animation = 'fade-to-right';
            const images = this.photos;
            const imageIndex = images.findIndex(item => item.id === this.currentPhoto.id);
            if (imageIndex === images.length - 1) {
                this.currentPhoto = images[0];
            } else {
                this.currentPhoto = images[imageIndex + 1];
            }
        },
        closeCarousel() {
            this.$emit('closeCarousel');
        }
    }
};
</script>

<style lang="scss">
.carousel {
    position: relative;
    width: 1000px;
    height: 667px;

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
    }

    &__subtitle {
        margin-top: 20px;
        color: white;
        font-size: 18px;
        font-family: 'Pragmatica Ext Book', sans-serif;
        text-align: center;
    }

    &__close {
        position: absolute;
        top: 0;
        right: -35px;
        width: 18px;
        height: 18px;
        background: url(~@images/gallery/close.svg) no-repeat;
        cursor: pointer;
    }

    &__left {
        position: absolute;
        top: 50%;
        left: -130px;
        width: 50px;
        height: 50px;
        background: url(~@images/gallery/arrow-left.png) no-repeat;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &__right {
        position: absolute;
        top: 50%;
        right: -130px;
        width: 50px;
        height: 50px;
        background: url(~@images/gallery/arrow-right.png) no-repeat;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.carousel-image {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: inherit;

    &__wrapper {
        position: relative;
        height: 100%;
    }

    img {
        height: 100%;
    }
}
</style>
