<template>
    <div class="night-mode">
        <div class="night-mode__title">
            <div>Nightmode</div>
            <div class="night-mode__close" @click="closeNightMode">
                <img :src="setImage('nightmode/close.svg')" alt="">
            </div>
        </div>
        <div v-for="map in customMaps" :key="map.id" class="night-map">
            <div class="night-map__description">
                <div class="night-map__arrow" @click="goToChildMap(map.id)" />
                <div class="night-map__title" v-html="setLangText(map.title)" />
                <div class="night-map__text" v-html="setLangText(map.descr)" />
            </div>
            <div class="night-map__map">
                <iframe :src="map.style" frameborder="0" />
            </div>
        </div>
    </div>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    computed: {
        ...mapGetters('map', ['customMaps'])
    },
    created() {
        this.getMap({ mapId: this.mapId });
    },
    methods: {
        closeNightMode() {
            this.$router.push({ name: 'map', params: { mapId: this.mapId } });
        },
        goToChildMap(id) {
            this.$router.push({ name: 'map', params: { mapId: id } });
        },
        ...mapActions('map', ['getMap'])
    }
};
</script>

<style lang="scss">
.night-mode {
    min-height: 100%;
    background: #E5E5E5;

    &__title {
        position: relative;
        margin-bottom: 40px;

        @include night-title;
    }

    &__close {
        position: absolute;
        top: 28px;
        right: 27px;
        width: 95px;
        height: 95px;
        cursor: pointer;

        img {
            display: block;
        }
    }
}

.night-map {
    display: flex;
    border-top: 4px solid black;

    &__description {
        position: relative;
        width: 50%;
        padding: 26px;
    }

    &__map {
        width: 50%;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        @include map-title;

        color: $main-text-color;
    }

    &__text {
        @include map-desc;

        color: $main-text-color;
    }

    &__arrow {
        position: absolute;
        top: 16px;
        right: 31px;
        width: 42px;
        height: 42px;
        background: url(~@images/nightmode/map-arrow.svg) 50% 50% no-repeat;
        cursor: pointer;
    }
}
</style>
