<template>
    <div class="maps-page__galleries">
        <div v-for="(item, index) in galleriesFormatted" :key="index" class="gallery">
            <div class="gallery__title" @click="showGallery(item.name)">
                <div class="gallery__title--name" v-html="item.name" />
            </div>
            <div class="gallery__content">
                <div v-if="item.name === 'Photo'" class="gallery__content--photo">
                    <img
                        v-for="photo in photosCut"
                        :key="photo.id"
                        :src="setImage(photo.mediaurl)"
                        alt=""
                        style="cursor: pointer;"
                        @click="showCarousel(photo)"
                    >
                </div>
                <div v-if="item.name === 'Video'" class="gallery__content--photo">
                    <iframe
                        v-for="video in videosCut"
                        :key="video.id"
                        :src="video.url"
                        frameborder="0"
                        allowfullscreen
                    />
                </div>
                <div v-if="item.name === 'Texts'" class="gallery__content--texts">
                    <div
                        v-for="text in texts"
                        :key="text.id"
                        class="text__title"
                        style="cursor: pointer;"
                        v-html="setLangText(text.title)"
                        @click="showText(text)"
                    />
                </div>
            </div>
        </div>
        <Carousel v-if="carousel" :currentPhotoId="currentPhotoId" @closeCarousel="carousel = false" />
        <TextModal v-if="textModal" :currentText="currentText" @closeTextModal="textModal = false" />
    </div>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    data() {
        return {
            galleries: [
                {
                    name: 'Photo'
                },
                {
                    name: 'Video'
                },
                {
                    name: 'Texts'
                }
            ],
            carousel: false,
            textModal: false,
            currentText: {}
        };
    },
    computed: {
        photosCut() {
            return this.photos.slice(0, 15);
        },
        videosCut() {
            return this.videos.slice(0, 10);
        },
        galleriesFormatted() {
            return this.galleries.filter((gallery, index) => {
                switch (index) {
                    case 0: return this.photos.length > 0;
                    case 1: return this.videos.length > 0;
                    case 2: return this.texts.length > 0;
                }
                return false;
            });
        },
        ...mapGetters('map', ['map', 'photos', 'videos', 'texts'])
    },
    methods: {
        setImage(url) {
            return `http://ferations.world/${url}`;
        },
        showGallery(name) {
            this.$router.push({ name: name.toLowerCase(), params: { mapId: this.mapId } });
        },
        showCarousel(item) {
            this.carousel = true;
            this.currentPhotoId = item.id;
        },
        showText(item) {
            this.textModal = true;
            this.currentText = item;
        }
    }
};
</script>

<style lang="scss">
.gallery {
    height: 120px;
    border-bottom: 2px solid #6D6D6D;

    @include align-center;

    &:last-child {
        border-bottom: none;
    }

    &__title {
        display: flex;
        width: 104px;
        cursor: pointer;

        @include gallery-title;

        &--name {
            position: relative;
            transition: all ease .2s;

            &::after {
                position: absolute;
                top: -2px;
                right: -20px;
                width: 25px;
                height: 25px;
                background: url(~@images/gallery/gallery-arrow.svg) 50% 50% no-repeat;
                content: '';
            }

            &:hover {
                color: #0075FF;

                &::after {
                    background: url(~@images/gallery/gallery-arrow-hover.svg) 50% 50% no-repeat;
                }
            }
        }
    }

    &__content {
        width: calc(100% - 104px);
        height: calc(100% - 22px);

        &--photo {
            display: flex;
            flex-wrap: wrap;
            height: 98px;
            overflow: hidden;
        }

        &--video {
            display: flex;
            flex-wrap: wrap;
            height: 98px;
            overflow: hidden;
        }

        &--texts {
            display: flex;
            flex-wrap: wrap;
            height: 98px;
            overflow: hidden;
        }

        img {
            height: 100%;
            margin-right: 7px;
        }

        iframe {
            width: 176px;
            height: 100%;
            margin-right: 7px;
        }
    }
}
</style>
