<template>
    <div class="header__wrapper">
        <div class="header__main">
            <div
                v-for="item in navTabs"
                :key="item.id"
                :class="['header__item', {'header__item--active': activePage(item.id) }]"
                v-html="item.title"
                @click="chooseTab(item.id)"
            />
            <div
                :class="['header__item']"
                v-html="'Connections'"
                @click="goToConnaections()"
            />
        </div>
        <div class="header__side" @click="changeLang">
            <img v-if="lang === 'ru'" :src="setImage('common/eng.svg')" alt="">
            <img v-else :src="setImage('common/rus.svg')" alt="">
        </div>
    </div>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    computed: {
        navTabs() {
            return [
                {
                    title: 'About',
                    id: 0
                },
                ...this.parentMaps
            ];
        },
        aboutPage() {
            return this.$route.name === 'about';
        },
        ...mapGetters('map', ['map', 'parentMaps'])
    },
    methods: {
        goToConnaections() {
            this.$router.push({ name: 'connections' });
        },
        chooseTab(tabId) {
            this.hideMapPopup();
            if (tabId === 0) {
                this.$router.push({ name: 'about' });
            } else {
                this.chooseMap(tabId);
                if (this.$route.name === 'full') {
                    this.$router.push({ name: 'full', params: { mapId: tabId } });
                } else if (this.$route.name === 'photo') {
                    this.$router.push({ name: 'photo', params: { mapId: tabId } });
                } else if (this.$route.name === 'video') {
                    this.$router.push({ name: 'video', params: { mapId: tabId } });
                } else if (this.$route.name === 'texts') {
                    this.$router.push({ name: 'texts', params: { mapId: tabId } });
                } else {
                    this.$router.push({ name: 'map', params: { mapId: tabId } });
                }
            }
        },
        activePage(tabId) {
            if (tabId === 0) {
                return this.$route.name === 'about';
            };
            return this.mapId === tabId;
        },
        chooseMap(mapId) {
            this.getMap({ mapId });
            this.getGalleries({ mapId });
        },
        ...mapActions('map', ['changeLang', 'getMap', 'getGalleries', 'hideMapPopup'])
    }
};
</script>

<style lang="scss">
.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #6D6D6D;
    }

    &__main {
        height: 60px;
        padding: 0 27px;
        background: #6D6D6D;

        @include align-center;
    }

    &__side {
        padding-right: 27px;
        cursor: pointer;
    }

    &__item {
        @include maps-names;

        display: inline-block;
        margin-right: 35px;
        color: $main-text-color;

        &--active {
            color: $extra-text-color;
        }
    }
}
</style>
