<template>
    <div class="maps-page">
        <Header />
        <HeatMap />
        <PolarChart />
    </div>
</template>

<script>
import * as components from './Charts';

export default {
    components: {
        ...components
    },
    data() {
        return {};
    },
    mounted() {
    }
};
</script>

<style lang="scss">
.hubs-page {
    display: flex;
    height: 100%;
    background: #C4C4C4;
}
</style>
