<template>
    <div class="main-page">
        <img
            :src="setImage('mainpage/logo.png')"
            alt=""
            @click="goToAboutPage"
            @mouseover="showLogoHover"
            @mouseleave="hideLogoHover"
        >
        <div class="main-page__names">
            <div
                v-for="map in maps"
                :key="map.id"
                class="main-page__name"
                v-html="map.title"
                @click="showMap(map.id)"
                @mouseover="showImage(map.id)"
                @mouseleave="hideImage()"
            />
        </div>
        <div v-if="currentMap" class="main-page__image" @click="showMap(currentMap)">
            <img
                :src="setImage(`mainpage/${currentMap}.png`)"
                alt=""
                class="mapImage"
                @click="showMap(currentMap)"
            >
        </div>
        <div
            v-if="logoHover"
            class="main-page__name main-page__name--about"
            v-html="'ABOUT'"
            @click="goToAboutPage"
        />
    </div>
</template>

<script>
import { common } from '@js/mixins';
export default {
    components: {
    },
    mixins: [common],
    props: {
    },
    data() {
        return {
            maps: [],
            currentMap: null,
            logoHover: false
        };
    },
    computed: {
        ...mapGetters('map', ['parentMaps'])
    },
    watch: {
        parentMaps() {
            this.maps = this.parentMaps.map(map => {
                return {
                    ...map,
                    hovered: false
                };
            });
        }
    },
    methods: {
        showImage(mapId) {
            this.currentMap = mapId;
        },
        hideImage() {
            this.currentMap = null;
        },
        showMap(mapId) {
            this.$router.push({ name: 'map', params: { mapId } });
        },
        goToAboutPage() {
            this.$router.push({ name: 'about' });
        },
        showLogoHover() {
            this.logoHover = true;
        },
        hideLogoHover(event) {
            if (event.relatedTarget.classList.contains('main-page__name--about')) {
                this.logoHover = true;
                return;
            }
            this.logoHover = false;
        }
    }
};
</script>

<style lang="scss">
.main-page {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);

    &__names {
        position: absolute;
        top: calc(50% - 151px);
        left: calc(50% - 534px);
        z-index: 2;
        display: flex;
    }

    &__name {
        display: inline-block;
        margin-right: 35px;
        cursor: pointer;
        transition: all 1s;

        @include maps-names;

        &--about {
            position: absolute;
            top: 50%;
            left: 50%;
            color: #FF2929;
            font-size: 48px;
            line-height: 130px;
            transform: translateX(-50%) translateY(-50%);

            &::after {
                position: absolute;
                top: 46px;
                right: -57px;
                width: 50px;
                height: 50px;
                background: url(~@images/mainpage/about-arrow.svg) no-repeat;
                content: '';
            }
        }
    }

    &__image {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    img {
        cursor: pointer;
    }
}
</style>
