<template>
    <div class="maps-page">
        <Header />
        <div class="map-full__wrapper">
            <div id="mapFull" />
            <div class="map-full__zoom" />
            <div class="map-full__wrap" @click="closeMapFull">
                <img :src="setImage('map/wrap_screen.svg')" alt="">
            </div>
            <div class="map-full__mode" @click="toogle3D">
                <img :src="setImage('map/icon_3d.svg')" alt="">
            </div>
        </div>
        <MapObjectPreview v-if="mapObjectPreviewVisible" />
        <MapPopup v-if="mapPopupVisible" @closePopup="hideMapPopup" />
    </div>
</template>

<script>

import { common } from '@js/mixins';

export default {
    mixins: [common],
    computed: {
        ...mapState('map', ['mapPopupVisible', 'mapObjectPreviewVisible'])
    },
    watch: {
        mapId() {
            this.mapView.remove();
            this.setMapView('mapFull');
        }
    },
    mounted() {
        this.setMapView('mapFull');
    },
    methods: {
        toogle3D() {
            if (this.mapView.getPitch() !== 0) {
                this.mapView.setPitch(0);
            } else {
                this.mapView.setPitch(60);
            }
        },
        closeMapFull() {
            this.$router.push({ name: 'map', params: { mapId: this.mapId } });
        },
        ...mapActions('map', ['hideMapPopup'])
    }
};
</script>

<style lang="scss">
.map-full {
    &__wrapper {
        position: relative;
        width: 100%;
        height: calc(100% - 60px);
    }

    &__zoom {
        position: absolute;
        right: 26px;
        bottom: 92px;
        width: 28px;
        height: 9px;
        background: url(~@images/map/zooms.svg) 0 0 no-repeat;
    }

    &__mode {
        position: absolute;
        top: 103px;
        right: 27px;
        cursor: pointer;
    }

    &__wrap {
        position: absolute;
        top: 30px;
        right: 32px;
        cursor: pointer;
    }
}
</style>
