<template>
    <transition name="fade">
        <div class="map-object-popup" :style="popupStyle">
            <div class="map-object-popup__title">
                <div>
                    {{ mapObjectPreview.title }}
                </div>
                <div>
                    {{ mapObjectPreview.coordinates }}
                </div>
            </div>
            <div class="map-object-popup__image">
                <img :src="mapObjectPreview.image" alt="">
            </div>
            <div v-html="mapObjectPreview.textPreview" />
        </div>
    </transition>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    computed: {
        popupStyle() {
            if (this.mapObjectPreview.position === 'left') {
                return 'left: 0;';
            }
            if (this.mapObjectPreview.position === 'right') {
                return 'right: 0;';
            }
            return 'display: none';
        },
        ...mapState('map', ['mapObjectPreview'])
    }
};
</script>

<style lang="scss">
.map-object-popup {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
    height: calc(100% - 60px);
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Pragmatica Extended', sans-serif;
    background: #C4C4C4;
    z-index: 1;
    padding: 30px;
    color: #8418D9;

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__image {
        img {
            width: 100%;
        }
    }
}
</style>
