<template>
    <transition name="fade">
        <div class="popup">
            <div class="popup__left">
                <div class="popup-title">
                    {{ mapPopup.title }}
                    <img :src="setImage('nightmode/close.svg')" alt="" @click="closePopup">
                </div>
                <div>{{ mapPopup.coordinates }} </div>
                <div v-if="mapPopup.link && mapPopup.linkText" class="popup-link">
                    <a :href="mapPopup.link" target="_blank">{{ mapPopup.linkText }}</a>
                </div>
                <div>{{ mapPopup.author }}</div>
            </div>
            <perfect-scrollbar class="scroll-area">
                <div class="popup__right">
                    <div>
                        <div v-if="mapPopup.videoLink" ref="video" class="popup-video">
                            <iframe :src="mapPopup.videoLink" frameborder="0" :style="`height: ${videoHeight}px`" />
                        </div>
                        <template v-if="mapPopup.image && mapPopup.image.length">
                            <div v-for="(image, index) in mapPopup.image" :key="index" class="popup-image">
                                <img :src="image" alt="">
                            </div>
                        </template>
                        <div v-html="mapPopup.text" />
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </transition>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    data() {
        return {
            videoHeight: 400
        };
    },
    computed: {
        ...mapState('map', ['mapPopup'])
    },
    mounted() {
        this.videoHeight = this.$refs?.video?.offsetWidth / 2;
    },
    methods: {
        closePopup() {
            this.clearMapPopupContent();
            this.$emit('closePopup');
        },
        ...mapActions('map', ['clearMapPopupContent'])
    }
};
</script>

<style lang="scss">
.popup {
    position: absolute;
    top: 60px;
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    font-size: 16px;
    font-family: 'Pragmatica Extended', sans-serif;
    background: #C4C4C4E5;

    &__left {
        flex-shrink: 0;
        width: 427px;
        padding: 30px 80px 30px 30px;
    }

    &__right {
        width: 100%;
        min-height: 100%;
        padding: 40px 30px;
        background: #C4C4C4;
        box-sizing: border-box;
    }
}

.popup-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 60px;

    img {
        width: 30px;
        cursor: pointer;
    }
}

.popup-link {
    margin: 20px 0;

    a {
        position: relative;
        display: table;
        color: black;
        cursor: pointer;

        &::after {
            position: absolute;
            top: -2px;
            right: -20px;
            width: 25px;
            height: 25px;
            background: url(~@images/gallery/gallery-arrow.svg) 50% 50% no-repeat;
            content: '';
        }

        &:hover {
            color: #0075FF;

            &::after {
                background: url(~@images/gallery/gallery-arrow-hover.svg) 50% 50% no-repeat;
            }
        }
    }
}

.popup-image {
    margin-bottom: 58px;

    img {
        width: 100%;
    }
}

.popup-video {
    iframe {
        width: 100%;
        // height: 100%;
    }
}
</style>
