<template>
    <perfect-scrollbar class="scroll-area">
        <div class="maps-page">
            <Header />
            <div style="height: calc(100% - 60px);">
                <div class="maps-page__content" :style="{'height': noGalleries ? '100%' : ''}">
                    <div v-if="!mapWorld" class="map-description">
                        <div class="map-description__header" :style="{'display': customMap ? 'block' : 'flex'}">
                            <img
                                v-if="customMap"
                                :src="setImage('nightmode/back.svg')"
                                alt=""
                                style=" margin-bottom: 30px; cursor: pointer;"
                                @click="goToCustomMaps"
                            >
                            <div class="map-description__title" v-html="setLangText(map.title)" />
                            <div v-if="customMaps.length > 0" class="map-description__night-mode" @click="goToCustomMaps">Nightmode</div>
                        </div>
                        <div class="map-description__text" v-html="setLangText(map.descr)" />
                    </div>
                    <MapObjectPreview v-if="mapObjectPreviewVisible" />
                    <div class="map-preview">
                        <iframe v-if="customMap" :src="map.style" frameborder="0" />
                        <MapSmall
                            v-else
                            :mapId="mapId"
                            @showMapFull="showMapFull"
                        />
                    </div>
                </div>
                <GalleriesPreview v-if="!noGalleries" />
            </div>
            <MapPopup v-if="mapPopupVisible" @closePopup="hideMapPopup" />
        </div>
    </perfect-scrollbar>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    data() {
        return {
            galleries: [
                {
                    name: 'Photo'
                },
                {
                    name: 'Video'
                },
                {
                    name: 'Texts'
                }
            ]
        };
    },
    computed: {
        customMap() {
            if (this.map.id) {
                return Boolean(this.map.parent_id);
            }
            return false;
        },
        noGalleries() {
            return this.mapWorld ? true : (this.texts.length === 0 && this.photos.length === 0 && this.videos.length === 0);
        },
        ...mapState('map', ['mapPopupVisible', 'mapObjectPreviewVisible']),
        ...mapGetters('map', ['map', 'parentMaps', 'customMaps', 'texts', 'photos', 'videos', 'mapWorld'])
    },
    watch: {
        mapId(val) {
            this.chooseMap(val);
        }
    },
    mounted() {
        this.chooseMap(this.mapId);
    },
    methods: {
        chooseMap(mapId) {
            this.getMap({ mapId });
            this.getGalleries({ mapId });
        },
        goToCustomMaps() {
            const { map, mapId } = this;
            // если мы находимся на странице дочерних карт
            if (map.parent_id) {
                this.chooseMap(map.parent_id);
                this.$router.push({ name: 'custom', params: { mapId: map.parent_id } });
            } else {
                this.$router.push({ name: 'custom', params: { mapId } });
            }
        },
        showMapFull() {
            this.$router.push({ name: 'full', params: { mapId: this.mapId } });
        },
        ...mapActions('map', ['getMap', 'getGalleries', 'hideMapPopup'])
    }
};
</script>

<style lang="scss">
.maps-page {
    position: relative;
    width: 100%;
    height: 100%;
    background: #C4C4C4;

    &__content {
        display: flex;
        min-height: 300px;
        background: black;
    }

    &__galleries {
        padding-left: 28px;
        background: #C4C4C4;
    }
}

.map-description {
    box-sizing: border-box;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 27px 51px 27px 27px;

    &__title {
        margin-right: 20px;

        @include map-title;
    }

    &__text {
        @include map-desc;
    }

    &__header {
        @include align-center;
    }

    &__night-mode {
        padding: 5px 15px;
        color: $extra-text-color;
        border: 2px solid $extra-text-color;
        border-radius: 35px;
        cursor: pointer;

        @include map-desc;
    }
}

.map-preview {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.text {
    &__title {
        @include gallery-title;

        position: relative;
        box-sizing: border-box;
        height: 45px;
        margin: 26px 7px;
        padding: 9px 22px;
        padding-right: 40px;
        text-transform: initial;
        border: 2px solid white;
        border-radius: 35px;

        &::after {
            position: absolute;
            top: 8px;
            right: 12px;
            width: 25px;
            height: 25px;
            background: url(~@images/gallery/gallery-text.svg) 50% 50% no-repeat;
            content: '';
        }
    }
}
</style>
