<template>
    <div class="map__wrapper">
        <div id="map" />
        <div class="map__zoom" />
        <div class="map__full" @click="showMapFull">
            <img :src="setImage('map/full_screen.svg')" alt="">
        </div>
        <div class="map__mode" @click="toogle3D">
            <img :src="setImage('map/icon_3d.svg')" alt="">
        </div>
    </div>
</template>

<script>

import { common } from '@js/mixins';

export default {
    components: {
    },
    mixins: [common],
    watch: {
        mapId() {
            this.mapView.remove();
            this.setMapView('map');
        }
    },
    mounted() {
        this.setMapView('map');
    },
    methods: {
        toogle3D() {
            if (this.mapView.getPitch() !== 0) {
                this.mapView.setPitch(0);
            } else {
                this.mapView.setPitch(60);
            }
        },
        showMapFull() {
            this.$emit('showMapFull');
        }
    }
};
</script>

<style lang="scss">
.map {
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__zoom {
        position: absolute;
        right: 24px;
        bottom: 92px;
        width: 28px;
        height: 9px;
        background: url(~@images/map/zooms.svg) 0 0 no-repeat;
    }

    &__mode {
        position: absolute;
        top: 86px;
        right: 20px;
        cursor: pointer;
    }

    &__full {
        position: absolute;
        top: 24px;
        right: 28px;
        cursor: pointer;
    }
}
</style>
