<template>
    <perfect-scrollbar class="scroll-area">
        <div>
            <Header />
            <div class="gallery__header">
                <div class="gallery__main-title" v-html="'Photo'" />
                <div class="gallery__close" @click="closeGallery">
                    <img :src="setImage('map/close.svg')" alt="">
                </div>
            </div>
            <div class="gallery__wrapper">
                <div
                    v-for="photo in photoFormatted"
                    :key="photo.id"
                    :style="{'width': photo.width + 'px', 'height': photo.height + 'px'}"
                    class="gallery__image"
                >
                    <img
                        :ref='`image${photo.id}`'
                        :src="setPhoto(photo.mediaurl)"
                        alt=""
                        @click="zoomIn(photo)"
                        @load="setPosition(photo.id)"
                    >
                    <div v-if="photo.title" class="gallery__image--subtitle" v-html="setLangText(photo.title)" />
                    <div v-if="photo.descr" class="gallery__image--subtitle" v-html="setLangText(photo.descr)" />
                </div>
            </div>
            <Carousel v-if="carousel" :currentPhotoId="currentPhotoId" @closeCarousel="carousel = false" />
        </div>
    </perfect-scrollbar>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    data() {
        return {
            carousel: false,
            photoFormatted: [],
            destroyed: false,
            updated: false
        };
    },
    computed: {
        ...mapGetters('map', ['photos'])
    },
    watch: {
        photos() {
            this.updated = true;
            this.photoFormatted = this.photos.map(item => {
                return {
                    ...item,
                    width: 'auto',
                    height: 'auto'
                };
            });
        }
    },
    beforeDestroy() {
        this.destroyed = true;
    },
    mounted() {
        this.photoFormatted = this.photos.map(item => {
            return {
                ...item,
                width: 'auto',
                height: 'auto'
            };
        });
    },
    methods: {
        setPhoto(url) {
            return `http://ferations.world/${url}`;
        },
        setPosition(id) {
            if (this.updated) return;
            if (this.destroyed) return;
            if (this.$refs[`image${id}`][0].clientHeight > this.$refs[`image${id}`][0].clientWidth) {
                const image = this.photoFormatted.find(item => item.id === id);
                image.height = 320;
                image.width = 213;
            }
        },
        zoomIn(item) {
            this.carousel = true;
            this.currentPhotoId = item.id;
        },
        closeGallery() {
            this.$router.push({ name: 'map', params: { mapId: this.mapId } });
        }
    }
};
</script>

<style lang="scss">
.gallery {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__header {
        display: flex;
        align-items: baseline;
        padding: 26px 26px 0;
    }

    &__main-title {
        margin-right: 36px;

        @include map-title;
    }

    &__image {
        box-sizing: border-box;
        width: 373px;
        margin: 27px;

        &--subtitle {
            color: #FFF;
            font-size: 14px;
            font-family: 'IBM Plex Sans', sans-serif;
            line-height: 24px;
        }

        img {
            width: 100%;
            cursor: pointer;
        }
    }

    &__close {
        cursor: pointer;
    }
}
</style>
