<template>
    <perfect-scrollbar class="scroll-area">
        <div>
            <Header />
            <div class="gallery__header">
                <div class="gallery__main-title" v-html="'Texts'" />
                <div class="gallery__close" @click="closeGallery">
                    <img :src="setImage('map/close.svg')" alt="">
                </div>
            </div>
            <div class="gallery-text__wrapper">
                <div
                    v-for="text in texts"
                    :key="text.id"
                    class="gallery-text"
                >
                    <div class="gallery-text__title" v-html="setLangText(text.title)" @click="showTextModal(text)" />
                    <div class="gallery-text__subtitle" v-html="setLangText(text.descr)" />
                    <div v-if="text.url" class="gallery-text__link" v-html="formLink(text.url)" />
                </div>
            </div>
            <TextModal v-if="textModal" :currentText="currentText" @closeTextModal="textModal = false" />
        </div>
    </perfect-scrollbar>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    data() {
        return {
            textModal: false,
            currentText: {}
        };
    },
    computed: {
        ...mapGetters('map', ['texts'])
    },
    methods: {
        showTextModal(item) {
            this.textModal = true;
            this.currentText = item;
        },
        closeGallery() {
            this.$router.push({ name: 'map', params: { mapId: this.mapId } });
        },
        formLink(src) {
            return `<a href="${src}" target="_blank">${this.lang === 'ru' ? 'Подробнее' : 'More'}</a>`;
        }
    }
};
</script>

<style lang="scss">
.gallery-text {
    width: 920px;
    margin: 0 auto;
    margin-bottom: 45px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 60px 0;
    }

    &__title {
        margin-bottom: 3px;
        color: #FFF;
        font-weight: 600;
        font-size: 24px;
        font-family: 'IBM Plex Sans', sans-serif;
        line-height: 31px;
        cursor: pointer;
    }

    &__subtitle {
        color: #FFF;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        line-height: 16px;

        a {
            display: block;
        }
    }

    &__link {
        color: rgba(255, 255, 255, .5);
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        line-height: 16px;
    }
}
</style>
