<template>
    <transition name="fade">
        <div class="text-modal__wrapper">
            <div class="text-modal">
                <div class="text-modal__close" @click="closeTextModal" />
                <div class="text-modal__title" v-html="setLangText(currentText.title)" />
                <div class="text-modal__text" v-html="setLangText(currentText.content)" />
            </div>
        </div>
    </transition>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    props: {
        currentText: {
            type: Object,
            required: true
        }
    },
    methods: {
        closeTextModal() {
            this.$emit('closeTextModal');
        }
    }
};
</script>

<style lang="scss">
.text-modal {
    max-width: 900px;
    max-height: 600px;
    overflow-y: scroll;

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);

        @include align-center;
    }

    &__title {
        margin-bottom: 15px;
        color: #FFF;
        font-weight: 600;
        font-size: 30px;
        font-family: 'IBM Plex Sans', sans-serif;
        line-height: 40px;
        cursor: pointer;
    }

    &__text {
        color: #FFF;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        line-height: 20px;
    }

    &__close {
        position: fixed;
        top: 40px;
        right: 40px;
        width: 18px;
        height: 18px;
        background: url(~@images/gallery/close.svg) no-repeat;
        cursor: pointer;
    }

    &::-webkit-scrollbar {
        width: 1px;
    }
}
</style>
