<template>
    <perfect-scrollbar class="scroll-area">
        <div>
            <Header />
            <div class="gallery__header">
                <div class="gallery__main-title" v-html="'Video'" />
                <div class="gallery__close" @click="closeGallery">
                    <img :src="setImage('map/close.svg')" alt="">
                </div>
            </div>
            <div class="video__wrapper">
                <div
                    v-for="video in videos"
                    :key="video.id"
                    class="video__item"
                >
                    <iframe :src="video.url" frameborder="0" allowfullscreen />
                    <!-- <div v-if="video.title" class="gallery__image--subtitle" v-html="video.title" /> -->
                    <div v-if="video.descr" class="gallery__image--subtitle" v-html="setLangText(video.descr)" />
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</template>

<script>
import { common } from '@js/mixins';

export default {
    mixins: [common],
    computed: {
        ...mapGetters('map', ['videos'])
    },
    methods: {
        closeGallery() {
            this.$router.push({ name: 'map', params: { mapId: this.mapId } });
        }
    }
};
</script>

<style lang="scss">
.video {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin: 13px;

        iframe {
            width: 533px;
            height: 300px;
        }
    }
}
</style>
