<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>

export default {
    name: 'app',
    components: {
    },
    data() {
        return {
        };
    },
    computed: {
        mapId() {
            return Number(this.$route.params.mapId);
        },
        ...mapGetters('map', ['allMaps'])
    },
    watch: {
        mapId(val) {
            if (val) {
                this.chooseMap(val);
            }
        }
    },
    created() {
        document.title = 'Russian Ferations';
    },
    mounted() {
        this.getAllMaps();
    },
    methods: {
        chooseMap(mapId) {
            this.getMap({ mapId });
            this.getGalleries({ mapId });
        },
        ...mapActions('map', ['getAllMaps', 'getMap', 'getGalleries'])
    }
};
</script>

<style lang="scss">
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

#app {
    height: 100vh;
}
</style>
