@mixin font-face($font-family, $url, $weight: normal, $style: normal) {
    @font-face {
        font-weight: $weight;
        font-family: $font-family;
        font-style: $style;
        src: url('~@fonts/#{$url}.woff') format('woff'), url('~@fonts/#{$url}.woff') format('woff2');
    }
}

@include font-face(Cyrillic Old, CyrillicOld, 400);
@include font-face(Pragmatica Extended, PragmaticaExt-Bold, 600);
@include font-face(Pragmatica Extended, PragmaticaExt-Book, 500);
@include font-face(IBMPlexSans, IBMPlexSans, 400);
@include font-face(IBMPlexSans, IBMPlexSans-Bold, 600);
@include font-face(Roboto, Roboto-Regular, 400);
