#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mapFull {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mapboxgl-ctrl-zoom-in {
    position: absolute;
    right: 24px;
    bottom: 128px;
    width: 28px;
    height: 28px;
    background: transparent url(~@images/map/zoom_in.svg);
    border: none;
    cursor: pointer;
}

.mapboxgl-ctrl-zoom-in:focus {
    outline: none;
}

.mapboxgl-ctrl-zoom-out {
    position: absolute;
    right: 24px;
    bottom: 51px;
    width: 28px;
    height: 28px;
    background: transparent url(~@images/map/zoom_out.svg) no-repeat 50%;
    border: none;
    cursor: pointer;
}

.mapboxgl-ctrl-zoom-out:focus {
    outline: none;
}

.mapboxgl-ctrl-compass {
    display: none;
}

.mapboxgl-ctrl-bottom-right {
    position: absolute;
    right: 21px;
    bottom: 12px;
    text-align: right;
}

.copyright__link {
    display: inline;
}

.mapboxgl-ctrl-attrib {
    color: white;
    font-size: 10px;
    font-family: 'Roboto Regular', sans-serif;
    line-height: 12px;
    opacity: .5;
}

.mapboxgl-ctrl-bottom-left {
    position: absolute;
    right: 21px;
    bottom: 39px;
    text-align: right;
}

.mapboxgl-ctrl-scale {
    color: white;
    font-size: 12px;
    font-family: 'Roboto Regular', sans-serif;
    line-height: 14px;
}

.mapboxgl-canvas:focus {
    outline: none;
}
