@mixin maps-names {
    color: $extra-text-color;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Pragmatica Extended', sans-serif;
    line-height: 76px;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin map-title {
    color: $extra-text-color;
    font-weight: 500;
    font-size: 60px;
    font-family: 'Pragmatica Extended', sans-serif;
    line-height: 84px;
}

@mixin map-desc {
    color: $extra-text-color;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Pragmatica Extended', sans-serif;
    line-height: 25px;
}

@mixin gallery-title {
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Pragmatica Extended', sans-serif;
    line-height: 25px;
    text-transform: uppercase;
}

@mixin night-title {
    font-weight: 500;
    font-size: 180px;
    font-family: 'Pragmatica Extended', sans-serif;
    line-height: 130px;
}
