.scroll-area {
    position: relative;
    width: 100%;
    height: 100%;
    // padding-right: 15px;
}

.ps__rail-y {
    width: 6px;
    cursor: pointer;
}

.ps .ps__rail-y:hover {
    background-color: transparent;
}

.ps__rail-y:hover > .ps__thumb-y {
    width: 6px;
    background-color: #615F5F;
}

.ps .ps__rail-y.ps--clicking {
    width: 6px;
    background-color: transparent;
}

.ps__rail-y.ps--clicking .ps__thumb-y {
    width: 6px;
    background-color: #615F5F;
}

/* stylelint-disable no-descending-specificity */
.ps__thumb-y {
    background-color: #615F5F;
    border-radius: 0;
    opacity: 0;
}

.ps__rail-y,
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-y,
.ps--scrolling-y > .ps__rail-y {
    cursor: default;
    opacity: 1;
}
